@charset "UTF-8";

.head {
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	border-bottom: 1px solid #ddd;
	font-size: 1.5rem;
}

.back {
	line-height: 3rem;
	float: left;
	padding-left: 1rem;
	color: #aaa;
}

.form-group {
	margin: auto;
}

.clearfix:after, .clearfix:before {
	display: table;
	content: ' ';
}

.clearfix:after {
	clear: both
}

#upload {
	opacity: 0;
	margin-top: -38px;
}

.photolabel {
	text-align: center;
}

.photo .form-control-feedback {
	margin-top: -24px;
}

.preview_img_list {
	padding-left: 1rem;
	width: 25%;
	padding: 2px 0;
	width: 200px;
	margin-left: 1rem;
}

.preview_img_list img {
	vertical-align: top;
	max-width: 98%;
	height: 200px;
}